html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #ddd;
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.wrap-site {
  background-color: #fff;
  max-width: 1680px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 60px;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  box-shadow: 0 2px 5px #555;
}

a {
  color: #333;
  text-decoration: none;
  outline: 0;
}
a:active, a:focus, a:hover {
  color: #333;
  text-decoration: none;
  outline: 0;
}

.site-header {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  max-width: 1680px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.top-menu ul {
  margin: 0;
  padding: 0;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu ul li a {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  color: #4D8C6C;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
.top-menu ul li a:hover {
  color: #2A4C3B;
}

.top-phone {
  font-size: 16.5px;
}

.hidden-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
}
.hidden-menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.hidden-menu ul li a {
  display: inline-block;
  margin: 20px auto;
  color: #fff;
}

.btn-menu {
  display: none;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  color: #4D8C6C;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 102;
  font-size: 30px;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
.btn-menu:hover {
  color: #2A4C3B;
}

.line {
  width: 95%;
  background-color: #ddd;
  height: 1px;
  margin: auto;
}

.main-title {
  font-size: 30px;
  letter-spacing: 3px;
  margin: 0;
  padding: 10px 20px;
}

.main-img {
  height: 450px;
  background: url(../img/bg/bg_main.jpg) no-repeat scroll center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  box-shadow: 0 2px 5px #555;
}

#owl-demo .item {
  margin: 3px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  box-shadow: 0 2px 5px #555;
}

.section-title {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 19.5px;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.nature-section,
.bio-section,
.history-section,
.routes-section,
.contacts-section {
  padding: 50px 0;
}

.nature-desc {
  padding: 10px 0 0;
}

.wrap-bio {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.bio-item {
  text-align: center;
  width: 280px;
  margin: 20px;
}
.bio-item img {
  width: 200px;
  height: 200px;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  box-shadow: 0 2px 5px #555;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.item-title {
  color: #4D8C6C;
  text-transform: uppercase;
  margin: 5px auto;
}

.history-tabs {
  text-align: center;
}

.r-tabs-anchor {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 5px 10px;
  color: #4D8C6C;
  border: 1px solid #4D8C6C;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
.r-tabs-anchor:hover {
  color: #2A4C3B;
  border: 1px solid #2A4C3B;
}

.history-item-img img {
  display: block;
  margin: auto;
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  box-shadow: 0 2px 5px #555;
}

.history-item-desc {
  padding: 10px 0 0;
}

.routes-item {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #4D8C6C;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.routes-item-img img {
  display: block;
  margin: auto;
  width: 300px;
  height: 200px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  box-shadow: 0 2px 5px #555;
}

.routes-item-desc {
  padding: 0 15px;
}
.routes-item-desc p {
  font-style: italic;
  font-size: 13.5px;
}

.routes-item-line {
  background-color: #4D8C6C;
  height: 15px;
  margin-top: 10px;
}

.wrap-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.wrap-map {
  height: 450px;
  -moz-box-shadow: 0 2px 5px #555;
  -webkit-box-shadow: 0 2px 5px #555;
  box-shadow: 0 2px 5px #555;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 49%;
  -ms-flex: 0 1 49%;
  flex: 0 1 49%;
}

.wrap-form {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 49%;
  -ms-flex: 0 1 49%;
  flex: 0 1 49%;
}

.form-item {
  margin: 10px 0;
}
.form-item label,
.form-item input,
.form-item textarea {
  display: block;
  width: 100%;
  font-size: 15.75px;
}

.submit {
  background-color: #4D8C6C;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  font-size: 16.5px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -moz-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
.submit:hover {
  background-color: #2A4C3B;
}

.site-footer {
  background-color: #4D8C6C;
  color: #fff;
  padding: 30px 15px;
}
.site-footer .copyright {
  font-style: italic;
  font-size: 12px;
}
